.advantages
	padding: 5.1rem 0 6.5rem
	background: url('../img/grid.png') center (center / cover) no-repeat
	&__wrapper
		display: flex
		justify-content: space-around
		align-items: center
		flex-wrap: wrap
	&__card
		width: 50%
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 3.5rem
	&__round
		display: flex
		justify-content: center
		align-items: center
		margin-right: 2.6rem
		width: 11.3rem
		height: 11.3rem
		background-color: $main-color
		border-radius: 100%
	&__img
		width: 7rem
		height: 7rem
	&__descr
		max-width: 34.3rem
	&__subtitle
		line-height: 2.1rem
		color: $main-color
		font-size: 2rem
		font-weight: 400
	&__text
		
		margin-top: 1rem
		color: #202020
		font-size: 1.6rem
		font-weight: 300
		line-height: 2.4rem


	

.label
	position: relative
	margin: 0 auto
	height: 3.6rem
	width: 16.8rem
	padding: 1rem 1.4rem
	background-color: #000099
	border-radius: .6rem

	color: #ffffff
	font-size: 1.4rem
	font-weight: 300
	text-transform: uppercase
	text-align: center
	
	&_white 
		background-color: #fff
		color: #000
	&_min 
		width: 76px

.title
	position: relative
	margin-bottom: 0
	margin-top: 38px
	color: #222222
	font-size: 38px
	line-height: 38px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	
	&_white 
		color: #fff

.subtitle
	position: relative
	margin-top: 19px
	color: #222222
	font-size: 17px
	font-weight: 400
	text-align: center
	z-index: 2
	&_white 
		color: #fff
